%% -*- mode: erlang -*-

{require_otp_vsn, ".*"}.
{deps, [
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", 
                      "5dd556eec3028a9ac3a3bf5cd0f1263a730090fc"}}
       ]}.

{sub_dirs, ["epa"]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors]}.

%{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
