%% -*- mode: erlang -*-

{require_otp_vsn, ".*"}.
{deps, [
	{meck, ".*", {git, "git://github.com/eproxus/meck.git", 
                      "b0eea7e7ea63eaebb154a352fe168c5d76626b0a"}}
       ]}.

{sub_dirs, ["epa"]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors]}.

%{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
