%% -*- mode: erlang -*-

{require_otp_vsn, ".*"}.
{deps, [
	{meck, ".*", {git, "git://github.com/eproxus/meck.git",
                      "91bb02f105fd1e8bbde72a981aefe94a88420907"}}
       ]}.

{sub_dirs, ["epa"]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors]}.

%{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
